/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.file-upload-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for layout */
  grid-gap: 20px; /* Space between grid items */
  justify-items: center;
  align-items: start;
}

.column {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 350px; /* Ensures components don't stretch too wide */
}

.segment {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.word-cloud {
  grid-column: span 2; /* Span two columns for wider word clouds */
}

.bar-chart,
.sentiment-analysis,
.placeholder {
  grid-column: span 1; /* Each of these occupies one column */
}

.segment-title {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
